<p>league-config works!</p>
<div class="row">
  <div class="col-lg-3 btn-config">
    <button mat-stroked-button routerLink="/painel-controle/partidas" class="d-flex justify-content-center align-items-center w-100">
      <span class="material-icons">
        sports_soccer
      </span><br>Rodadas
    </button>
  </div>

  <div class="col-lg-3 btn-config">
    <button mat-stroked-button routerLink="/painel-controle/contratos" class="d-flex justify-content-center align-items-center w-100">
      <span class="material-icons">
        description
        </span>
        <br>Contratos
    </button>
  </div>

  <div class="col-lg-3 btn-config">
    <button mat-stroked-button class="d-flex justify-content-center align-items-center w-100">
      <span class="material-icons">
        sports_soccer
      </span><br>Suspensos
    </button>
  </div>
  <div class="col-lg-3 btn-config">
    <button mat-stroked-button class="d-flex justify-content-center align-items-center w-100">
      <span class="material-icons">
        attach_money
        </span><br>Finanças
    </button>
  </div>
</div>