.title-header {
  margin: 20px 0;
  color: #046cb4;
}

.s-title {
  color: #d94b54;
}
.center {
  text-align: center;
}

.nav-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 70px;
  padding: 0 25px;
  z-index: 2;
  background: #fff;
  border-bottom: 2px solid #006fb4;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
}

.nav-tabb {
  display: flex;
  font-weight: 600;
  font-size: 15px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #d94b54;
}

a:hover {
  border-bottom: 2px solid #1f2e5d;
  color: #d94b54;
  width: 75%;
}

.nav-tab:not(:last-child) {
  padding: 10px 25px;
  margin: 0;
  border-right: 1px solid #eee;
}

.nav-tab:last-child {
  padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

.s-title {
  color: #d94b54;
}
/* card */

.card {
  width: 80%;
  border: 1px solid #c6c6c6;
  margin: 3rem auto;
}

.card-header {
  background-color: #004993;
  padding: 1.5rem 0.5rem;
  color: #fff;
}

.card-content {
  padding: 1.5rem 0.5rem;
}

@media screen and (max-width: 800px) {
  .nav-container {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 84px;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
    background: #006fb41f;
    backdrop-filter: blur(8px);
  }

  .nav-tabb {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-tab:not(:last-child) {
    padding: 20px 25px;
    margin: 0;
    border-right: unset;
    border-bottom: 1px solid #d94b54;
    width: 50%;
  }

  .nav-tab:last-child {
    padding: 15px 25px;
  }

  .menu-btn {
    position: relative;
    display: block;
    margin: 0;
    width: 20px;
    height: 15px;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
  }

  .menu-btn .menu {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #111;
  }

  .menu-btn .menu:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .menu-btn .menu:nth-child(3) {
    margin-top: 4px;
  }

  #menuToggle:checked + .menu-btn .menu {
    transition: transform 0.2s ease;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(2) {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }

  #menuToggle:checked ~ .nav-container {
    z-index: 1;
    display: flex;
    animation: menu-slide-left 0.3s ease;
  }
  @keyframes menu-slide-left {
    0% {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  }
  .card {
    width: 100%;
    display: flex;
  }

  .card-header span {
    display: flex;
    flex-direction: columnm;
    border: unset;
    border-bottom: #FFF;
    padding: 10px 0px;
  }

  hr {
    width: 100%;
  }
}
