<p>contracts works!</p>

<div class="row">

    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element" data-label="name"> {{element.atleta.name}} </td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Posição </th>
            <td mat-cell *matCellDef="let element" data-label="position"> {{retornPosition(element.atleta.position)}} </td>
        </ng-container>

        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element" data-label="team"> {{element.time.name}} </td>
        </ng-container>

        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Início </th>
            <td mat-cell *matCellDef="let element" data-label="start"> {{element.dt_start_contract | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> Fim </th>
            <td mat-cell *matCellDef="let element" data-label="end"> {{element.dt_end_contract | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element" data-label="status"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element" data-label="actions">
                <a routerLink="update/{{ element.id }}">
                    <i class="material-icons edit">edit</i>
                </a>
                <a routerLink="read/{{ element.id }}">
                    <i class="material-icons delete">visibility</i>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>