<div class="container-fluid">

  <div class="interno mb-5">
    <div class="inter">
      <img class="img-time" [src]="equipe.url" alt="" />
      <p class="title-time"> {{ equipe.nome }} </p>
    </div>
  </div>

  <div class="wrapper">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12 ficha-tecnica py-2">
        <div class="margin-space m-border-bottom">
          <h1 class="line-title">Ficha Técnica</h1>

          <div class="my-2">
            <strong>Presidente</strong><br />
            <small>{{ equipe.presidente }}</small><br />
          </div>

          <div class="my-2">
            <strong>Endereço</strong><br />
            <small>{{ equipe.logradouro }}, {{ equipe.numero }} - {{ equipe.bairro }}<br />
              Telefone: {{ equipe.telefone }}
            </small>
          </div>

          <div class="my-2">
            <strong>Fundação</strong><br />
            <small>{{ equipe.dt_nascimento | date: 'dd/MM/yyyy' }}<br /> </small>
          </div>
        </div>
        <div class="margin-space m-border-bottom">
          <h1 class="line-title">Estádio</h1>
          <div class="d-flex justify-content-center">
            <img [src]="equipe.foto_estadio" alt="" width="80%" />
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12 m-border-left ficha-tecnica">
        <div class="margin-space-2">
          <h1 class="line-title">Elenco</h1>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-xs-6 flex-gap" *ngFor="let d of equipe.atletas">
              <mat-card class="mt-2 d-flex py-3">
                <a class="text-center d-flex" routerLink="/">
                  <img src="assets/images/player.jpg" alt="" width="35%" />
                  <div class="d-flex flex-column justify-content-end ms-3">
                    <small> {{ d.apelido }} </small>
                    <small><strong>Posição</strong>: {{ d.posicao }}</small>
                  </div>
                </a>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>