* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.interno {
  background-image: url('https://futebolpaulista.com.br/assets/img/banner-clube-claro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  width: 100%;
}

.img-time {
  position: relative;
  width: 100px;
}

.inter {
  position: absolute;
  display: flex;
  top: 120px;
  padding: 0 6%;
  width: 100%;
}

.inter .title-time {
  position: absolute;
  padding-top: 30px;
  margin-left: 110px;
  color: #0049A7;
}

.title-time {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #0049A7;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;

  .ficha-tecnica {
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .line-title {
    color: #0049A7;
    font-weight: 900;
  }

  .m-border-left {
    border-left: 1px solid #0049A7;
  }
  
  .m-border-bottom {
    border-bottom: 1px solid #0049A7;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 648px) {
  .title-time {
    font-size: 1.7rem;
    color: #0049A7;
  }
}

.margin-space {
  margin: 1rem 2rem;
}

@media screen and (max-width: 468px) {
  .title-time {
    font-size: 1.3rem;
    color: #0049A7;
  }

  .img-time {
    position: relative;
    width: 80px;
  }

  .inter {
    top: 120px;
    padding: 0 1.5rem;
    width: 100%;
  }

  .inter .title-time {
    position: absolute;
    margin-left: 90px;
  }

  .ficha-tecnica {
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
  }
}