<div class="container">
  <div class="row mt-3">
    <div class="col-6 col-lg-4 col-md-4">
      <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Listar por</option>
        <option value="1">Time</option>
        <option value="2">Jogadores</option>
      </select>
    </div>

    <div class="col-6 col-lg-4 col-md-4">
      <button routerLink="cadastrar" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> Cadastrar
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 text-center">
      <a href="#" *ngFor="let char of alphabet">
        <span class="alphabet"> {{ char }} </span>
      </a>
    </div>
  </div>

  <div class="row atletas mt-5" *ngIf="arbitros.length > 0; else noRefree">
    <ul class="d-flex justify-content-around flex-grow-1 flex-wrap">
      <li class="nav-item" *ngFor="let j of arbitros; let i = index">
        <a class="nav-link active" aria-current="page" routerLink="{{j.id}}">
          <img src="https://futebolpaulista.com.br/assets/img/icon_jogador.png" alt="">
          <div>
            <h6 class="m-0">{{ j.surname }} </h6>
            <!-- <p>Juiz {{ (i + 1)}} </p> -->
            <span>{{ j.name }} </span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <ng-template #noRefree>
    <div class="alert alert-dark mt-5" role="alert" style="font-size: 12px;">
      Não existem Cadastrados! Clique em <a routerLink="cadastrar">Arbitros</a> para cadastrar!
    </div>
  </ng-template>
</div>
