.box-title {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  // background-color: yellow;
  width: 100%;

  .logo {
    margin: 1rem 0;
    width: 20%
  }
}
