<div class="container">
  <div class="row justify-content-center mt-5">
    <mat-card class="box-create mat-elevation-z5">
      <h1 class="text-center my-2">Cadastro liga</h1>
      <form class="example-form" [formGroup]="ligaForm">
        <mat-form-field class="example-full-width w-100" appearance="fill">
          <mat-label>Nome da liga</mat-label>
          <input formControlName="name" matInput placeholder="Ex. Liga Master A" />
        </mat-form-field>

        <div class="input-data my-2">
          <div class="row justify-content-around">

            <div class="col-lg-6 col-md-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Início</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dt_ini" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6">
              <mat-form-field appearance="fill"  class="w-100">
                <mat-label>Fim</mat-label>
                <input matInput [matDatepicker]="picker_one" formControlName="dt_fim" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker_one"></mat-datepicker-toggle>
                <mat-datepicker #picker_one></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="input-data my-2">
          <div class="row justify-content-around">

            <div class="col-lg-6 col-md-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Tipo de disputa</mat-label>
                <mat-select formControlName="t_disputa">
                  <mat-option *ngFor="let d of disputa" [value]="d.id">
                    {{ d.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-md-6">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Select</mat-label>
                <mat-select formControlName="t_campo">
                  <mat-option *ngFor="let t of tipo" [value]="t"> {{ t }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="d-flex justify-content-end me-2 mt-3" (click)="createLeague(ligaForm.value)" mat-raised-button
            color="warn">
            <mat-icon>reply</mat-icon>
            Voltar
          </button>
          <button class="d-flex justify-content-end mt-3" (click)="createLeague(ligaForm.value)" mat-raised-button
            color="primary">
            <mat-icon>add</mat-icon>
            Salvar
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
