<div class="container">
  <button mat-raised-button routerLink="cadastrar" class="my-3" color="primary">Novo time</button>
  <div class="row justify-content-center">
    <div *ngFor="let t of equipes" class="box d-flex flex-column justify-content-center align-items-center">
      <a class="text-center d-flex flex-column align-items-center" routerLink="{{t.apelido}}/{{ t.id }}">
        <img class="scudo" [src]="t.url" alt="" />
        {{ t.nome }}
        <!-- https://www.freelogoservices.com/pt/step2 -->
      </a>
    </div>
  </div>
</div>
