.box {
  width: 150px;
  height: 150px;
  /* border: 1px solid #000;
  border-radius: 50%; */
}

.scudo {
  width: 100px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #000;
}
