.container-login {
  position: relative;
  width: 100%;
  height: 100vh;
}

.img-box {
  width: 50%;
  height: 100%;
  // background-color: #5bb4ff;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.content-box {
  // background-color: yellow;
  width: 50%;
  height: 100%;
}

.box {
  // background-color: green;
  width: 90%;
}

@media screen and (max-width: 868px) {
  .container-login .img-box {
    display: none !important;
  }

  .container-login .content-box {
    width: 100%;
  }
}
